body{
  font-family:Arial;
  margin:20px;
  min-height: 100lvh;
  background: linear-gradient(45deg, #1c1c1c, #3c3c3c);
  color:#fff;
}

.imageInput{
  background-color: rgb(97, 89, 207);
  padding: 4px 0 4px 22px;
  border-radius: 4px;
  font-weight: bold;
}


#gallery{
  display:grid;
  grid-template-columns:repeat(auto-fill,120px);
  justify-content: space-evenly;
  gap:12px;
  margin-top:20px;
}  

.item{
  position:relative;
  background:#222;
  padding:6px;
  border-radius:6px;
}

.item img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:4px;
}

.del{
  position:absolute;
  top:4px;
  right:4px;
  background:red;
  border:0;
  color:white;
  border-radius:4px;
  padding:2px 6px;
  cursor:pointer;
}
